body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center;    /* Vertikal zentrieren */
    height: 100vh;         /* Höhe des Viewports */
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    color: #000000; /* Farbe der Überschrift */
    margin-bottom: 20px; /* Abstand unter der Überschrift */
}

.drop-area {
    border: 2px dashed #007bff; /* Randfarbe */
    border-radius: 10px;
    padding: 40px; /* Padding des Drag-and-Drop-Bereichs */
    width: 300px; /* Breite des Drag-and-Drop-Bereichs */
    min-height: 100px; /* Mindesthöhe für das Drag & Drop Feld */
    margin-bottom: 20px;
    color: #007bff; /* Textfarbe im Drag-and-Drop-Bereich */
}

.drop-area:hover {
    background-color: #f0f0f0; /* Dunklere Farbe beim Hover */
}

.sortable-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px; /* Abstand zur Beschreibung */
}

.sortable-list li {
    background: #f0f0f0;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: move;
    border-radius: 10px;
    color: black;
}

.dragging {
    opacity: 0.5;
}

.send-button {
    background-color: #f0f0f0; /* Hintergrundfarbe auf Grau setzen */
    color: black; /* Textfarbe auf Schwarz setzen */
    padding: 10px 20px; /* Innenabstand */
    border: 1px solid #ccc; /* Randfarbe */
    border-radius: 5px; /* Abgerundete Ecken */
    font-size: 16px; /* Schriftgröße */
    cursor: pointer; /* Zeiger-Cursor */
    margin-top: 20px; /* Abstand oben */
}

.send-button:active {
    background-color: #dfdfdf; /* Dunklere Farbe beim Hover */
}

.download-link {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; /* Abstand oben */
}
